#game-window {
    margin: 24px;
}

#game-window label {
    font-weight: 600;
}

#player-screenname-input {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#player-screenname-input:invalid {
    border-color: red;
}

#aim-window {
    background-color: lightgray;
    border: 1px solid black;
    margin-top: 8px;
}

#aim-window-header {
    padding-left: 5px;
    padding-right: 5px;
    background-color: blue;
    color: white;
    font-weight: 600;
}

#menu {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid gray;
}

.menu-item {
    padding: 0 3px;
}

.menu-item:hover {
    background-color: rgb(173, 173, 173);
    cursor: default;
}

.menu-item-warning {
    padding: 0 3px;
    float: right;
}

#aim-toolbar {
  border: 1px solid gray;
  margin: 5px 5px 2px 5px;
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.toolbar-item {
    display: inline-block;
    min-height: 2px;
    min-width: 10px;
    font-weight: 600;
    font-family: serif;
}

.toolbar-separator {
    border-left: 1px solid gray;
    height: 18px;
}

#toolbar-item-a1 { color: blue; }

#toolbar-item-a2 {
    background-color: blue;
    color: lightgray;
    padding: 0 5px 2px 5px;
}

#toolbar-item-a3 { font-size: small; }

#toolbar-item-a5 { font-size: large; }

#toolbar-item-b { font-weight: 700; }

#toolbar-item-i { font-style: italic; }

#toolbar-item-u { text-decoration: underline; }

#toolbar-item-link {
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

#chat-input {
  width: calc(100% - 10px);
  margin: 0 5px 5px 5px;
  padding: 3px;
  overflow-y: scroll;
  resize: none;
}

#chat-output {
  width: calc(100% - 10px);
  background-color: white;
  margin: 5px;
  height: 250px;
  overflow-y: scroll;
}

#action-btn-row {
    margin: 0 5px 4px 5px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}

.action-btn {
    border: 1px solid gray;
    border-radius: 1px;
    padding: 2px 12px;
    display: inline-block;
    font-size: small;
}

.action-btn-symbol {
    font-size: x-large;
}

.screenname {
    font-weight: 600;
}

.screenname.outgoing {
    color: blue;
}

.screenname.incoming {
    color: red;
}